target/
*.iml
*.log
.env
.idea/
.vscode/
.DS_Store
node_modules/
dist/
build/
*.db
*.sqlite
postgres-data/
uploads/
tmp/
nbproject/private/
*.class
release-alunos/
figuriqa-2026-alunos.zip
release-caixa-preta/
figuriqa-2026-caixa-preta-alunos.zip
